<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ title }}</title>
    <!-- Open Graph -->
    <meta property="og:title" content="Ephemera">
    <meta name="author" content="Danny White">
    <meta property="og:type" content="website">
    {# <meta property="og:url" content="https://ephemera.herokuapp.com/"> #}
    <meta property="og:image" content="ephemera.jpg">
    <!-- Stylesheets -->
    <link rel="stylesheet" href="{{ '/css/style.css' | url }}" />
</head>
<body>
    {# {{ content | safe }} #}
    {% if airtableData.length %}
    {# <ul id="graph"></ul> #}
    <ul id="list">
    {% for item in airtableData %}
        {# <li>{{ item | dump }}</li> #}
        <li>
            <div id="item-foreground">
                <p>{{ item.date }}</p>
                <p>{{ item.location }}</p>
            </div>
            {% if item.imageSlug %}
            {# <img src="https://res.cloudinary.com/dannywhite/image/upload/q_auto,f_auto,w_320/ephemera/{{ item.imageSlug }}" alt="{{ item.name }}"> #}
            <img src="{% src item.imageSlug %}"
                srcset="{% srcset item.imageSlug %}"
                alt="{{ item.name }}"
                loading="lazy">
            {% else %}
            {# Fallback to Airtable API for image storage #}
            {# Must be removed by November 8, 2022 #}
            <img src="{{ item.images[0].thumbnails.large.url }}" alt="{{ item.name }}" loading="lazy">
            {% endif %}
        </li>            
    {% endfor %}
    </ul>
    {% else %}
    <p>No data pulled from Airtable</p>
    {% endif %}
</body>
</html>