:root {
  /* Set width by % as vw doesn't account for scrollbars */
  --tile-width: 50%;
  /* Height should be fixed at roughly 1:1 (square) with width */
  --tile-height: 50vw;
  --tile-padding: 2vw; }

@media screen and (min-width: 768px) {
  :root {
    --tile-width: 25%;
    --tile-height: 25vw;
    --tile-padding: 4vw; } }

@font-face {
  font-family: "JetBrains Mono";
  src: url("https://raw.githubusercontent.com/JetBrains/JetBrainsMono/master/fonts/webfonts/JetBrainsMono-Regular.woff2") format("woff2");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: "JetBrains Mono";
  src: url("https://raw.githubusercontent.com/JetBrains/JetBrainsMono/master/fonts/webfonts/JetBrainsMono-Bold.woff2") format("woff2");
  font-weight: bold;
  font-style: normal; }

* {
  font-feature-settings: "liga" on, "calt" on;
  -webkit-font-feature-settings: "liga" on, "calt" on;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  font-family: "JetBrains Mono", Menlo, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  box-sizing: border-box;
  transition: all 0.3s ease; }

body {
  margin: 0; }

ul {
  margin: 0;
  padding: 0;
  display: flex; }
  ul li {
    list-style-type: none; }

ul#list {
  flex-wrap: wrap; }
  ul#list li {
    width: var(--tile-width);
    height: var(--tile-height);
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center; }
    ul#list li:not(.year-block) {
      cursor: pointer; }
    ul#list li img,
    ul#list li div {
      padding: var(--tile-padding); }
    ul#list li img {
      object-fit: contain;
      width: 100%;
      height: 100%; }
      ul#list li img.lazyload {
        opacity: 0; }
      ul#list li img.lazyloading {
        filter: blur(12px);
        opacity: 1; }
      ul#list li img.lazyloaded {
        filter: blur(0); }
    ul#list li div {
      position: absolute;
      width: var(--tile-width);
      height: var(--tile-height);
      padding: var(--tile-padding);
      display: flex;
      flex-direction: column;
      justify-content: center;
      background-color: rgba(255, 255, 255, 0.99);
      opacity: 0; }
    ul#list li:hover div {
      opacity: 1; }

h2 {
  font-size: 4vw; }

p {
  font-size: 0.8rem;
  margin: 0.3rem 0;
  text-transform: uppercase; }

ul#graph {
  justify-content: space-around;
  margin-left: var(--tile-padding);
  margin-right: var(--tile-padding);
  margin-bottom: 4vh; }
  ul#graph li {
    width: 100%; }
    ul#graph li div {
      background-color: black;
      height: 100%;
      width: 1px;
      margin: 0 auto; }
    ul#graph li:hover {
      position: relative; }
      ul#graph li:hover > div {
        background-color: red; }
        ul#graph li:hover > div:after {
          content: attr(data-date);
          text-align: center;
          font-size: 0.66rem;
          color: red;
          background: rgba(255, 255, 255, 0.95);
          position: absolute;
          top: 100%;
          transform: translateX(-50%);
          margin-top: 0.5rem; }
