<!DOCTYPE html>
<html lang="{{ site.lang | default: "en-US" }}">

<head>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta charset="utf-8">
  <title>{{ site.title }}</title>
  <link rel="stylesheet" href="{{ "/assets/ephemera.css" | relative_url }}">
  <!-- lzy.js uses the Intersection Observer API, which isn't yet well supported -->
  <script src="https://polyfill.io/v2/polyfill.min.js?features=IntersectionObserver"> </script>
  <!-- lzy.js -->
  <script src="/assets/lzy.min.js"></script>
</head>

<body>
  <div class="flex gallery">
    {% for item in site.data.ephemera %}
    {% if item.hidden != true %}
    <figure>
      <img src="https://ik.imagekit.io/dw/ephemera/{{ item.first }}.jpg?tr=w-1,h-1"
        data-src="https://ik.imagekit.io/dw/ephemera/{{ item.first }}.jpg?tr=w-400" alt="{{ item.name }}" />
      <!-- <figcaption>
        {{ item.name }},<br>
        {{ item.location }}<br>
        {{ item.date }}
      </figcaption> -->
    </figure>
    {% endif%}
    {% endfor %}
  </div>

  <!-- Generate random rotation for each piece of ephemera -->
  <script>
    function randomRotation(minRange, maxRange) {
      let num = Math.random() * (maxRange + 1) + minRange;
      num *= Math.floor(Math.random() * 2) == 1 ? 1 : -1;
      return num;
    }

    const figures = document.querySelectorAll("figure");

    for (i = 0; i < figures.length; i++) {
      const rand = randomRotation(0, 2);
      figures[i].style.transform = `rotate(${rand}deg)`;
    }
  </script>
  <script>lzy();</script>
</body>

</html>